*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
html{
    font-size: 100px;
}
@media (min-width:320px) {
    html{
        font-size: /*calc(100px*320/750)*/42.666667px;
    }
}
@media (min-width: 360px) {
    html{
        font-size: 48px;
    }
}
@media (min-width: 375px) {
    html{
        font-size: 50px;
    }
}
@media (min-width: 414px) {
    html{
        font-size:55.2px;
    }
}
@font-face {
    font-family: 'iconfont';  /* project id 1030231 */
    src: url('//at.alicdn.com/t/font_1030231_vcwt0295zkl.eot');
    src: url('//at.alicdn.com/t/font_1030231_vcwt0295zkl.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1030231_vcwt0295zkl.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1030231_vcwt0295zkl.woff') format('woff'),
    url('//at.alicdn.com/t/font_1030231_vcwt0295zkl.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1030231_vcwt0295zkl.svg#iconfont') format('svg');
}