.firstpart{
    width: 100%;
    height: 6.5rem;
    background: #e83a29;
    text-align: center;
    position: relative;
}
.firstpart>img{
    width: 6.26rem;
    height: 6.26rem;
}
.firstpart img:nth-child(2){
    width: 1.56rem;
    height: 1.56rem;
    position: absolute;
    top: 1.26rem;
    left: calc(50% - 0.78rem);
}
.firstpart p{
    margin-left: 1.2rem;
    font-size: 0.34rem;
    font-weight: bold;
    color:rgba(255,255,255,0.9);
    position: absolute;
    top: 3.23rem;
    left:calc(50% - 1.58rem) ;
}
#content{
    margin-left: 0.5rem;
    font-size: 0.18rem;
    color:rgba(255,255,255,0.9);
    position: absolute;
    top: 3.85rem;
    left: calc(50% - 2.48rem);
    font-weight: normal;
}
#content2{
    margin-left: 0.2rem;
    font-size: 0.18rem;
    color:rgba(255,255,255,0.9);
    position: absolute;
    top: 4.2rem;
    left: calc(50% - 1.34rem);
    font-weight: normal;
}
.firstpart p+img{
    width: 1.74rem;
    height: 0.31rem;
    position: absolute;
    top: 4.6rem;
    left: calc(50% - 0.78rem);
}
.firstpart img:nth-last-child(2){
    width: 0.63rem;
    height: 0.63rem;
    position: absolute;
    top: 5.22rem;
    right: calc(50% - 0.98rem);
}
.firstpart img:nth-last-child(3){
    width: 0.63rem;
    height: 0.63rem;
    position: absolute;
    top: 5.22rem;
    left: calc(50% - 0.78rem);
}
.myziliao{
    width: 3.02rem;
    height: 0.87rem;
    background: white;
    box-shadow: 0rem 0.03rem 0.18rem 0rem
    rgba(236, 61, 21, 0.34);
    border-radius: 0.38rem;
    margin: 0 auto;
    margin-top: -0.45rem;
    margin-left:calc(50% - 1.38rem);
    position: relative;
}
.myziliao .circle{
    width: 0.1rem;
    height: 0.12rem;
    border-radius: 50%;
    background: #9da2ff;
}
.myziliao .circle:nth-of-type(1){
    position: absolute;
    top: 0.4rem;
    left: 0.1rem;
}
.myziliao .circle:nth-of-type(2){
    position: absolute;
    top: 0.4rem;
    left:2.8rem ;
}
.myziliao span{
    display: block;
    font-size: 0.4rem;
    color: #9da2ff;
    position: absolute;
    top: 0.15rem;
    left: 0.8rem;
    letter-spacing: 0.014rem;
}
.myziliao .circle:nth-child(1)+span{
    font-size: 0.4rem;
    color: black;
    letter-spacing: 0.05rem;
    position: absolute;
    left: 0.6rem;
    top: 0.17rem;
}
.secondpart{
    width: 7.02rem;
    height: 5.26rem;
    /*background: red;*/
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.secondpart .qiandao{
    width: 7.02rem;
    height: 1.01rem;
    background: white;
    box-shadow: 0rem 0.03rem 0.18rem 0rem
    rgba(10, 1, 21, 0.34);
    border-radius: 0.1rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.qiandao span{
    font-size: 0.3rem;
    letter-spacing: 0.012rem;
    font-weight: bolder;
    color: rgba(0,0,0,0.5);
    margin-left: 0.28rem;
}
.qiandao img{
    width: 0.55rem;
    height: 0.55rem;
    margin-left: 0.25rem;
}
.qiandao .juxingkuai{
    width: 0.7rem;
    height: 0.4rem;
    background:#4abefb;
    border-radius: 0.2rem;
    font-size: 0.3rem;
    color: white;
    font-weight: bolder;
    text-align: center;
    line-height: 0.4rem;
    margin-left: 3.6rem;
}
.qiandao:nth-child(2) .juxingkuai{
    background: red;
}
.qiandao:nth-child(3) .juxingkuai{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background:#9da2ff;
}
.juxingkuai .smallcircle{
    width: 0.32rem;
    height: 0.32rem;
    background: white;
    border-radius: 50%;
    margin-left: 0.06rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.smallcircle .littlecircle{
    width: 0.06rem;
    height: 0.06rem;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 0.08rem  #9da2ff;
    margin-left: 0.12rem;
}
.qiandao:nth-child(4) .circlebit{
    width: 0.09rem;
    height: 0.08rem;
    background: #9d9d9d;
    border-radius: 50%;
    margin-right: 0.1rem;
}
.qiandao:nth-child(4) #circlegroup{
    width: 1rem;
    height: 0.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3.05rem;
}
.secondpart{
    margin-bottom: 1.6rem;
}
.thirdpart{
    width: 100%;
    height: 1rem;
    margin: 0 auto;
    background:white;
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 0.2rem 0.1rem #cccccc;
    position: fixed;
    bottom: 0;
}
.thirdpart .shou,.discover,.order,.my{
    width: 1rem;
    height: 1rem;
    /*background: red;*/
    margin-top:-0.5rem;
    margin-left: 0.4rem;
}
.shou img{
    width: 0.5rem;
    height: 0.4rem;
}
.my p{
    font-size: 0.2rem;
    color: #d61f07;
    margin-top: -0.2rem;
}
.discover p ,.shou p,.order p{
    font-size: 0.2rem;
    color: #a0a0a0;
    margin-top: -0.2rem;
}
.discover img,.order img,.my img {
    width: 0.5rem;
    height: 0.4rem;
}